/* General App Styles */
.app {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  
}

main {
  padding: 2rem;
}

header {
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 1rem;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ff6347;
}

footer {
  background: rgba(0, 0, 0, 0.5); /* Example: Semi-transparent black background */
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}
